/**********************************
GENERAL
***********************************/
body {
    background: url(../img/veterans.png) repeat;
}

#wrapper {
    background: white;
    margin: 0 100px;
}

/**********************************
HEADER
***********************************/
#toplevel nav {
    background-color: black;
    color: white;
    font-family: 'Droid Serif', serif;
    font-size: 28px;
    font-variant: small-caps;
    text-align: center;
    padding: 30px;
}


#toplevel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#toplevel li {
    display: inline;
    margin: 0 30px;
}

#toplevel a {
    text-decoration: none;
    color: white;
}

#toplevel a:hover {
    color: #f7bb1c;
}

#toplevel a:active {
    color: white;
}

#toplevel img {
    float: left;
}

#toplevel h1 {
    position: relative;
    font-variant: small-caps;
    font-family: 'Droid Serif', serif;
    font-size: 78px;
}

/**********************************
PAGE: HOME
***********************************/
.content {
    clear: both;
    margin: 0 auto;
}

.content img {
    width: 33%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}


/**********************************
PAGE: RESOURCES 
***********************************/
.resources {
    text-align: center;
}

.resources a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

.resources a:hover {
    color: blue;
}

/**********************************
PAGE: ABOUTUS
***********************************/
.aboutus img {
    width: 33%;
}

/**********************************
PAGE: PHOTOS
***********************************/
.photos img {
    width: 100%;
}

/**********************************
FOOTER
***********************************/
footer {
    background: white;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

#branches {
    text-align: center;
}

#branches li {
    display: inline;
    padding: 0;
    margin: 0 10px;
}

#branches img {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

footer p {
    text-align: center;
}

.contact {
    text-decoration: none;
    color: black;
    
}

.contact:hover {
    color: #f7bb1c;
}


/**********************************
FOOTER
***********************************/
#credit {
    text-align: right;
    font-family: 'Raleway', sans-serif;
}

#credit a {
    text-decoration: none;
    color: black;
}

#credit a:hover {
    font-family: 'Gloria Hallelujah', cursive;
    color: #f7bb1c;
}

/**********************************
MOBILE PHONE
***********************************/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
{ 
    #toplevel nav {
        background-color: black;
        color: white;
        font-family: 'Droid Serif', serif;
        font-size: 40px;
        font-variant: small-caps;
        text-align: center;
    }
}