/**********************************
GENERAL
***********************************/
	html, body {
		width: 100%;
		height: 100%;
	}
/**********************************
HEADING
***********************************/
	#logo {
		padding: 0; 
		margin: 0;
		margin-top: 3%;
		float: right;
	}

/**********************************
NAVIGATION
***********************************/
	nav {
		text-align: center;
		clear: both;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline;
		padding: 0 4% 0 0;

	}

	.navigation {
		text-decoration: none;
		color: #000;
		font-family: 'Raleway Dots', cursive;
		font-size: 3em;
	}

	.navigation:hover {
		color: #f7bb1c;
	}

	.navigation:active {
		color: #f7bb1c;
		font-weight: bold;
	}

	.navigation:visted {
		text-decoration: none;
	}

/**********************************
PAGE: HOME
***********************************/
	img {
		float: right;
		width: 35%;
		display: inline-block;
		clear: both;
		margin: 2% 15% 2% 0%;
		padding: 0;
		border-radius: 2em;
	}

	#copy {
		float: left;
		width: 30%;
		display: inline-block;
		margin: 2% 0 2% 15%;
		padding: 0;
	}

	h3, h4 {
		text-align: center;
		font-family: 'Abril Fatface', cursive;
		margin: 0;
		padding:0;
	}

	h3 {
		font-size: 2.5em;
	}

	p {
		font-family: 'Raleway Dots', cursive;
		font-size: 1.3em;
		text-align: justify;
	}

	#ADDA {
		border-bottom: 1px dashed #ccc;
		font-family: 'Raleway Dots', cursive;
		font-size: 1em;
		text-decoration: none;
		color: #000;
	}

	#ADDA:hover {
		color: #44D0D8;
	}

	#ADDA:active {
		color: #44D0D8;
	}

	#ADDA:visted {
		text-decoration: none;
	}


/**********************************
PAGE: WRITING
***********************************/

/**********************************
PAGE: RESUME
***********************************/

/**********************************
PAGE: PRESS
***********************************/

.videoWrapper {
	display: block;
	clear: both;
	position: relative;
	padding-top: 29%;
	width: 40%;
	height: 0;
	overflow: hidden;
	left: 45%;
	top: 3%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.press {
	width: 40%;
	position: relative;
	left: 5%;
	top: -47%;
}

/**********************************
MEDIA QUERY : PHONE
***********************************/

@media (min-width : 320px) and (max-width : 639px) {
	/* General */
	.navigation {
		font-size: 100%;
		margin-bottom: 3%;
		font-family: 'Raleway', sans-serif;
	}

	li {
		padding-right: 2%;
		margin-right: 2%;
	}

	nav {
		position: relative;
		right: 2.7%;
	}

	/* Body */

	img {
		display: block;
		width: 70%;
	}

	#copy {
		display: block;
		width: 70%;
	}

	h3 {
		font-size: 2em;
		margin: 0
		padding: 0;
	}

	p {
		font-weight: 900;
		text-align: center;
	}

	/*Press Page*/

	.videoWrapper {
	display: block;
	clear: both;
	position: relative;
	padding-top: 29%;
	width: 40%;
	height: 0;
	overflow: hidden;
	left: 45%;
	top: 3%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.press {
	width: 40%;
	position: relative;
	left: 5%;
	top: -18%;
}
}



/**********************************
MEDIA QUERY : AWKWARD MIDDLE GROUND
	RALEWAY DOTS
	ONE COLUMN LAYOUT
***********************************/
@media (min-width : 640px) and (max-width : 1180px) {
	/* General */
	
	.navigation {
		font-size: 2em;
		margin-bottom: 3%;
		font-family: 'Raleway Dots', sans-serif;
	}

	li {
		padding-right: 2%;
		margin-right: 2%;
	}

	nav {
		position: relative;
		right: 2%;
	}

	/* Body */

	img {
		display: block;
		width: 70%;
	}

	#copy {
		display: block;
		width: 70%;
	}

	h3 {
		font-size: 2em;
		margin: 0
		padding: 0;
	}

	p {
		font-weight: 900;
		text-align: center;
	}
}


/**********************************
MEDIA QUERY : TABLET 
***********************************/
@media (min-width : 1181px) and (max-width : 1030px) {

	/* General */
	.navigation {
		font-size: 2em;
		margin-bottom: 3%;
		font-family: 'Raleway Dots', sans-serif;
	}

	li {
		padding-right: 2%;
		margin-right: 2%;
	}

	nav {
		position: relative;
		right: -1%;
	}

	/* Body */

	img {
		display: block;
		width: 70%;
	}

	#copy {
		display: block;
		width: 70%;
	}

	h3 {
		font-size: 2em;
		margin: 0
		padding: 0;
	}

	p {
		font-weight: 900;
		text-align: center;
	}
}
}













